



@media (min-width: 1200px) and (max-width: 1400px) {

    .inner_wrapper .sidebar_content .ppb_subtitle_left {
        width: 35%;
    }

}
@media (min-width: 992px) and (max-width: 1200px) {
    .inner_wrapper .sidebar_content .ppb_subtitle_left {
        width: 40%;
    }
    .footer_bar .footer_bar_wrapper #toTop {
        right: 8px;
    }
    #footer_menu {
        margin-right: 10px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .inner_wrapper .sidebar_content .ppb_subtitle_left {
        width: 55%;
    }
    #footer_menu {
        margin-right: 40px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .inner_wrapper .sidebar_content{
        display: block;
    }
    .inner_wrapper .sidebar_content .filter{
        float: none;
        margin-bottom: 18px;
    }
    .one_third .post_wrapper .post_content_wrapper .post_header.search {
        display: block;
        gap: 15px;
    }
}
@media (max-width: 576px) {
    .inner_wrapper .sidebar_content .filter{
        float: none;
        margin-bottom: 18px;
    }
    .one_third .post_wrapper .post_content_wrapper .post_header.search {
        gap: 10px;
    }
    .newsticker_label {
        padding-right: 7px;
        padding-left: 7px;
        font-size: 14px;
    }
}
@media (max-width: 425px) {
    .inner_wrapper .sidebar_content .ppb_subtitle_left .single_subtitle{
        text-align: center;
    }
    .inner_wrapper .sidebar_content .filter ul{
        margin-left: auto;
    }
}

